.App {
  text-align: center;
}

.release-container {
  background-color: #e1e1e1;
  border: 2px solid black;
  margin: 30px auto;
  width: 55%;
}

.divider-line {
  width: 80%;
  margin: 10px auto;
  border-bottom: 1px solid #bababa;
}

.grey-box {
  background-color: lightblue;
  border: 2px solid black;
  margin: 15px;
}

.release-list{
  text-align: left;
  display: grid;
  place-content: center;
}